@import "tailwindcss";

.font-termina {
  font-family: 'Termina', sans-serif;
}

.font-ivypresto {
  font-family: 'IvyPresto Display', serif;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
}

.storyblok-image img {
  width: var(--img-w);
  height: var(--img-h);
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .storyblok-image img {
    width: var(--img-w-mobile);
    height: var(--img-h-mobile);
  }
}

.grid-img {
  top: var(--top-desktop);
  left: var(--left-desktop);
}

@media (max-width: 768px) {
  .grid-img {
    top: var(--top-mobile);
    left: var(--left-mobile);
  }
}
