@import "tailwindcss";

.font-termina {
  font-family: 'Termina', sans-serif;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
}

.font-ivypresto {
  font-family: 'IvyPresto Display', serif;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
}

.storyblok-image img {
  width: var(--img-w);
  height: var(--img-h);
}

@media (max-width: 768px) {
  .storyblok-image img {
    width: var(--img-w-mobile);
    height: var(--img-h-mobile);
  }
}

.grid-img {
  top: var(--top-desktop);
  left: var(--left-desktop);
}

@media (max-width: 768px) {
  .grid-img {
    top: var(--top-mobile);
    left: var(--left-mobile);
  }
}

/* Marquee animation: moves content left continuously */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

/* SWIPER WHITE RADIO-BUTTON STYLE DOTS */
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: transparent !important;
  border: 2px solid #FAF9F6 !important; /* white circle border */
  opacity: 1 !important;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: #FAF9F6 !important; /* filled white */
  border: 2px solid #FAF9F6 !important;
}
